.backgroundLine {
  position: relative;
  z-index: 1;
}

.backgroundLine:before {
  border-top: 1px solid #dfdfdf;
  content: '';
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.backgroundLine span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}

.backgroundLineDesktop {
  position: relative;
  z-index: 1;
}

.backgroundLineDesktop:before {
  border-left: 1px solid #dfdfdf;
  content: '';
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 0%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.backgroundLineDesktop span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
